@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?vjui4q');
    src:  url('../fonts/icomoon.eot?vjui4q#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vjui4q') format('truetype'),
    url('../fonts/icomoon.woff?vjui4q') format('woff'),
    url('../fonts/icomoon.svg?vjui4q#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-space:before {
    content: "\e903";
}
.icon-backspace:before {
    content: "\e900";
}
.icon-caps-lock:before {
    content: "\e901";
}
.icon-enter:before {
    content: "\e902";
}
.icon-ok:before {
    content: "\ea11";
}
.icon-change:before {
    content: "\ea2e";
}

div.keyboard{
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #75767A;
}

div.keyboard div#keys{
    min-height: 215px;
}

div.keyboard button {
    text-transform: lowercase;
}

div.keyboard button.uppercase{
    text-transform: uppercase;
}

div.keyboard
{
    padding:  10px 5px 15px 5px !important;
    border-radius: 0;
}

.keyboard-keys {
    width: 100%;
}

.keyboard-row {
    height: 50px;
}

.keyboard-row button {
    height: 46px;
    width: 96%;
    margin: 2px 2%;
}

.btn-key {
    padding: 0;
    margin: 0;
    border-radius: 2px;
    color: white;
    background-color: #75767A;
}
.btn-key:focus,
.btn-key.focus {
    color: #75767A;
    background-color: white;
}
.btn-key:hover {
    color: #75767A;
    background-color: white;
}
.btn-key:active,
.btn-key.active,
.open > .dropdown-toggle.btn-key {
    color: #75767A;
    background-color: white;
}
.btn-key:active:hover,
.btn-key.active:hover,
.open > .dropdown-toggle.btn-key:hover,
.btn-key:active:focus,
.btn-key.active:focus,
.open > .dropdown-toggle.btn-key:focus,
.btn-key:active.focus,
.btn-key.active.focus,
.open > .dropdown-toggle.btn-key.focus {
    color: #75767A;
    background-color: white;
}
.btn-key:active,
.btn-key.active,
.open > .dropdown-toggle.btn-key {
    background-image: none;
}
.btn-key.disabled:hover,
.btn-key[disabled]:hover,
fieldset[disabled] .btn-key:hover,
.btn-key.disabled:focus,
.btn-key[disabled]:focus,
fieldset[disabled] .btn-key:focus,
.btn-key.disabled.focus,
.btn-key[disabled].focus,
fieldset[disabled] .btn-key.focus {
    background-color: #75767A;
}
.btn-key .badge {
    color: white;
    background-color: #75767A;
}

.btn-key-command {
    padding: 0;
    margin: 0;
    border-radius: 2px;
    color: white;
    background-color: #5b5b5f;
}
.btn-key-command:focus,
.btn-key-command.focus {
    color: #5b5b5f;
    background-color: white;
}
.btn-key-command:hover {
    color: #5b5b5f;
    background-color: white;
}
.btn-key-command:active,
.btn-key-command.active,
.open > .dropdown-toggle.btn-key-command {
    color: #5b5b5f;
    background-color: white;
}
.btn-key-command:active:hover,
.btn-key-command.active:hover,
.open > .dropdown-toggle.btn-key-command:hover,
.btn-key-command:active:focus,
.btn-key-command.active:focus,
.open > .dropdown-toggle.btn-key-command:focus,
.btn-key-command:active.focus,
.btn-key-command.active.focus,
.open > .dropdown-toggle.btn-key-command.focus {
    color: #5b5b5f;
    background-color: white;
}
.btn-key-command:active,
.btn-key-command.active,
.open > .dropdown-toggle.btn-key-command {
    background-image: none;
}
.btn-key-command.disabled:hover,
.btn-key-command[disabled]:hover,
fieldset[disabled] .btn-key-command:hover,
.btn-key-command.disabled:focus,
.btn-key-command[disabled]:focus,
fieldset[disabled] .btn-key-command:focus,
.btn-key-command.disabled.focus,
.btn-key-command[disabled].focus,
fieldset[disabled] .btn-key-command.focus {
    background-color: #5b5b5f;
}
.btn-key-command .badge {
    color: white;
    background-color: #5b5b5f;
}